{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Caaring</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">




    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Faster+One" rel="stylesheet">
    <link href="{% static 'css/creative.min.css' %}"rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
   
    <header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase" id="title">
              CAARING
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="text-faded mb-5">Now no need to worry about travelling</p>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="{% url 'login' %}" style="margin-right:25px;">Login</a>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="{% url 'signup' %}">Sign Up</a>
          </div>
        </div>
      </div>
    </header>



    

 


    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'js/jquery.min.js' %}"></script>


  </body>

</html>
